In [ ]:
import pprint
import pymongo

In [4]:
# Add parent directory to path to import modules from src
import sys, os
rpath = os.path.abspath('..')
if rpath not in sys.path:
    sys.path.insert(0, rpath)

from src.loader import SlackDataLoader
import src.databases as databases

In [6]:
db = databases.MongoDB()

collection Company already exists
collection Employee already exists

#### Get list of collections

In [3]:
db.

TypeError: 'Database' object is not callable

#### Insert record to collection

In [ ]:
data = {
    "name": "John"
}
inserted_record = db.insert_to_collection('users', data)
print(inserted_record.inserted_id)

#### Insert more than record to collection

In [ ]:
data = [{
    "name": "Tom"
},
    {
        "name": "Jane",
        "age": 33
}
]
inserted_records = db.insert_many_to_collection('users', data)
print(inserted_records)

#### Find All records from collection

In [ ]:
import pprint

records = db.find_all('users')
for record in records:
    pprint.pprint(record)

#### Filter record from collection

In [ ]:
results = db.find('users', 'name', 'Jane')
for result in results:
    pprint.pprint(result)

In [ ]:
results = db.find('users', 'name', 'Rix')
for result in results:
    pprint.pprint(result)

#### Find one from collection

In [ ]:
result = db.find_one('users', 'name', 'Jane')
pprint.pprint(result)

#### Initialize DBWithSchemaClass

In [ ]:
db_with_schema = DBWithSchema()

#### View validators

In [ ]:
import pprint
company_validator = db_with_schema.get_validation('company')
pprint.pprint(company_validator)

In [ ]:
employee_validator = db_with_schema.get_validation('employee')
pprint.pprint(employee_validator)

#### Create Company

In [ ]:
company_data = [
  {
    "name": "Mercedes-Benz",
    "city": "Stuttgart",
    "country": "Germany"
  },
  {
    "name": "Chevrolet",
    "city": "Detroit",
    "country": "United States"
  }
]
inserted_records = db_with_schema.insert_many_to_collection('company', company_data)
print(inserted_records)

In [ ]:
employee_data = [
  {
    "name": "Jane",
    "age": 24,
    "company": inserted_records[0]
  },
  {
    "name": "John",
    "age": 26,
    "company": inserted_records[1]
  },
  {
    "name": "Amy",
    "age": 23,
    "company": inserted_records[1]
  },
  {
    "name": "Jack",
    "age": 22,
    "company": inserted_records[0]
  },
]
inserted_employees = db_with_schema.insert_many_to_collection('employee', employee_data)
print(inserted_employees)

#### Select all Employees

In [ ]:
import pprint

employees = db_with_schema.find_all('employee')
for employee in employees:
    pprint.pprint(employee)

#### Look UP

In [ ]:
lookup = [
    {
        "$lookup": {
            "from": "employee",
            "localField": "_id",
            "foreignField": "company",
            "as": "employees"
        }
    }
]
employees_with_company = db_with_schema.db.company.aggregate(lookup)
employees_list = list(employees_with_company)
for employee in employees_list:
    pprint.pprint(employee)